<div class="modal fade" id="addressModal" role="dialog">
  <%= form_for(@address, remote: true, html: { class: 'form-horizontal' }) do |f| %>
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t(:address) %></h4>
        </div>

        <div class="modal-body">
          <div class="form-group hide">
            <div class="col-sm-12">
              <div class="input-group">
                <%= hidden_field_tag :origin, params[:origin], class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group hide">
            <div class="col-sm-12">
              <div class="input-group">
                <%= f.hidden_field :patient_id, value: params[:patient_id].blank? ? @address.patient_id : params[:patient_id], class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5"><%= t(:street) %></span>
                <%= f.text_field :street, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5"><%= t(:street_number) %></span>
                <%= f.text_field :street_number, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5"><%= t(:complement) %></span>
                <%= f.text_field :complement, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5"><%= t(:neighborhood) %></span>
                <%= f.text_field :neighborhood, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5"><%= t(:zip) %></span>
                <%= f.text_field :zip, class: "form-control", alt: :cep %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5"><%= t(:city_id) %></span>
                <%= f.collection_select :city_id, City.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
              </div>
            </div>
          </div>        
        </div>

        <div class="modal-footer">
          <%= f.submit class: "btn btn-success" %> 
          <%= link_to t(:cancel), "#", { class: "btn btn-default", "data-dismiss": "modal" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>