<%= form_for(@material, html: { class: 'form-horizontal' }) do |f| %>
<%- if @material.errors.any? %>
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h4><span class="label label-danger"><%= t(:register_error) %></span></h4>
  <ul>
    <%- @material.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <%- end %>
  </ul>
</div>
<%- end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t(:material_details) %>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5"><%= t(:measurement_id) %></span>
          <%= f.collection_select :measurement_id, Measurement.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5"><%= t(:code) %></span>
          <%= f.text_field :code, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5"><%= t(:name) %></span>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5"><%= t(:note) %></span>
          <%= f.text_area :note, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5"><%= t(:minimal) %></span>
          <%= f.text_field :minimal, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 text-right">
  <%= f.submit class: "btn btn-primary" %>
</div>
<% end %>
