<!DOCTYPE html>
<html>
<head>
  <title>MobOdonto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% unless notice.blank? %>
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= content_tag(:p, notice, class: 'notice') if notice.present? %>
    </div>
  <% end %>

	<%= yield %>

</body>
</html>